h1,
h2,
h3 {
  color: var(--headline-red);
}

select,
input {
  background-color: var(--background-red);
  border: 1px solid var(--headline-red);
  margin: 5px;
}

button {
  background-color: var(--headline-red);
  border: transparent;
  color: white;
  font-weight: bold;
  padding: 5px;
}

.dot {
  height: 1em;
  width: 1em;
  background-color: white;
  border: thick solid var(--headline-red);
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 0px;
}

.vert-line {
  border-left: thick solid lightgray;
  margin-right: 25px;
  margin-left: 10px;
  height: 50px;
}

.details-float {
  position: fixed;
  bottom: 15px;
  right: 15px;
  left: 75%;
  padding: 10px;
  background-color: var(--background-red);
  border: 1px solid var(--headline-red);
}
