<div style="display: flex; justify-content: center">
  <h1 style="text-align: center">TTC Streetcar Delay Explorer</h1>
  <div
    (click)="showInfoModal()"
    style="margin-left: 20px; font-size: 16pt; margin-top: 22pt"
  >
    <ng-icon name="bootstrapInfoCircleFill" color="rgb(210, 0, 0)"></ng-icon>
  </div>
</div>

<info-modal [visible]="infoModalVisible"></info-modal>

<div style="margin-bottom: 20px; display: flex; justify-content: space-between">
  <div>
    <div style="margin: 5px">
      Line:
      <select (change)="changeLine($event)">
        <option *ngFor="let streetcarLine of lines">{{ streetcarLine }}</option>
      </select>
      Statistic:
      <select (change)="changeStat($event)">
        <option value="Count">Count</option>
        <option value="Total Minutes">Total Minutes</option>
        <option value="Minutes / Incident">Minutes / Incident</option>
      </select>
    </div>
    <div style="margin: 5px">
      View:
      <select (change)="changeView($event)">
        <option value="schematic">List</option>
        <option value="map">Map</option>
      </select>
    </div>
  </div>
  <form [formGroup]="filterForm">
    <div style="margin: 5px">
      <label>Date range:</label>
      <input
        type="date"
        [min]="metadata?.earliestDate"
        [max]="metadata?.latestDate"
        style="width: 9em"
        formControlName="dateFrom"
      />
      -
      <input
        type="date"
        [min]="metadata?.earliestDate"
        [max]="metadata?.latestDate"
        style="width: 9em"
        formControlName="dateUntil"
      />
    </div>
    <div style="margin: 5px">
      <label>Time range:</label>
      <input type="time" formControlName="timeFrom" />
      -
      <input type="time" formControlName="timeUntil" />
    </div>
    <div style="margin: 5px">
      <button style="margin: 5px" (click)="refreshData()">Apply Filter</button>
      <button style="margin: 5px" (click)="filterForm.reset(); refreshData()">
        Reset
      </button>
    </div>
  </form>
</div>

<line-map
  [line]="line"
  [colorMap]="colorMap"
  [stat]="stat"
  (selectedLineEmitter)="selectStop($event?.id?.slice(5))"
  *ngIf="selectedView === 'map'"
></line-map>

<div>
  <div #vizContainer width="60%" *ngIf="selectedView === 'schematic'">
    <div *ngFor="let stop of stops; index as i">
      <div style="display: flex">
        <div class="dot"></div>
        <div style="font-weight: bold">{{ stop }}</div>
      </div>
      <div style="display: flex" *ngIf="i < stops.length - 1">
        <div class="vert-line"></div>
        <div [ngStyle]="getBarStyle(stop)" (click)="selectStop(stop)">
          {{ getStat(stop) }} {{ stat === "Count" ? "Delays" : "Minutes" }}
        </div>
      </div>
    </div>
  </div>
  <div class="details-float" *ngIf="selectedStop">
    <div style="display: flex">
      <h3 style="margin-top: 0; margin-right: 2px">
        {{ selectedStop }} - {{ stops[stops.indexOf(selectedStop) + 1] }}
      </h3>
      <ng-icon
        name="bootstrapXCircleFill"
        color="rgb(210, 0, 0)"
        (click)="selectedStop = null"
      ></ng-icon>
    </div>
    <div style="font-weight: bold">
      {{ getStat(selectedStop) }} {{ stat === "Count" ? "Delays" : "Minutes" }}
    </div>
    <div>
      Top incidents types:
      <ol>
        <li *ngFor="let incident of selectedStopData?.topIncidentTypes">
          {{ incident }}
        </li>
      </ol>
    </div>
  </div>
</div>
