:host ::ng-deep circle:hover {
  stroke: black;
  stroke-width: 1px;
}

.stopDisplay {
  font-weight: bold;
  position: fixed;
}

.zoomIcon {
  color: var(--headline-red);
  margin: 5px;
}

.mapContainer {
  border: 1px solid var(--headline-red);
}

svg#lineMap {
  height: 800px;
}
