<div style="display: flex; justify-content: flex-end;">
  <ng-icon class="zoomIcon" name="bootstrapZoomIn" size="2em" (click)="zoom(0.5)"></ng-icon>
  <ng-icon class="zoomIcon" name="bootstrapZoomOut" size="2em" (click)="zoom(2)"></ng-icon>
  <ng-icon class="zoomIcon" name="bootstrapArrowCounterclockwise" size="2em" (click)="resetZoom()"></ng-icon>
</div>
<div
  class="stopDisplay"
  [style.left]="hoveringStopLeft"
  [style.top]="hoveringStopTop"
>
  {{ hoveringStop }}
</div>
<div class="mapContainer" [innerHTML]="svgMap" (click)="clickMap($event)"></div>
